<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988254581739-38qpj53egri38bosvs2jggisk3e558bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988254581739-38qpj53egri38bosvs2jggisk3e558bp</string>
	<key>API_KEY</key>
	<string>AIzaSyDalfnwCirM-5IWT0G7WgzS9qUaDCY7vaw</string>
	<key>GCM_SENDER_ID</key>
	<string>988254581739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxsearch.browsers.safeApp</string>
	<key>PROJECT_ID</key>
	<string>max-browser-ios-aac47</string>
	<key>STORAGE_BUCKET</key>
	<string>max-browser-ios-aac47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988254581739:ios:ee95ac8b9654f90eab1fae</string>
</dict>
</plist>